<%
var
  I, J, N: Integer;
  S: String;
  tb: TCtMetaTable;
  F: TCTMetaField;
  bPhyMode: Boolean;
  db: String;
begin
  if AllModels.CurDataModal.Param['ShowPhyFieldName']='1' then
    bPhyMode := True
  else
    bPhyMode := False;
  db := AllModels.CurDataModal.Param['DatabaseEngine'];
%>
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Netsky-CellTree">
<style>
<!--
br
	{mso-data-placement:same-cell;}
tr
	{height:14.25pt;}
td
	{
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	color:windowtext;
	font-family:宋体;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-number-format:"_ * \#\,\#\#0\.00_ \;_ * \\-\#\,\#\#0\.00_ \;_ * \0022-\0022??_ \;_ \@_ ";
	white-space:nowrap;}
.x_head1
	{
	height:14.25pt;
	font-size:9.0pt;
	text-align:left;
	border:.5pt solid windowtext;
	background:teal;}
.x_head2
	{
	height:14.25pt;
	font-size:9.0pt;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:teal;}
.x_head3
	{
	height:14.25pt;
	font-size:9.0pt;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:teal;}
.x_item1
	{
	height:14.25pt;
	font-size:9.0pt;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.x_item2
	{
	font-size:9.0pt;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.x_item3
	{
	font-size:9.0pt;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
-->
</style>
<!--[if gte mso 9]><xml>
 <x:ExcelWorkbook>
  <x:ExcelWorksheets>
   <x:ExcelWorksheet>
    <x:Name>Sheet1</x:Name>
    <x:WorksheetOptions>
     <x:Selected/>
    </x:WorksheetOptions>
   </x:ExcelWorksheet>
  </x:ExcelWorksheets>
 </x:ExcelWorkbook>
</xml>
<![endif]-->
</head>


<body link=blue vlink=purple>

<h1>${AllModels.CurDataModal.Name}</h1>

<%
  N:=0;
  for I:=0 to AllModels.CurDataModal.Tables.Count-1 do
  if AllModels.CurDataModal.Tables[I].IsSelected then
  begin
    N := N+1;
    tb := AllModels.CurDataModal.Tables[I];
%>

<h2>${N}. ${tb.Name} <%if tb.Caption<>'' then PrintVar('('+tb.Caption+')');%></h2>

<table x:str border=0 cellpadding=0 cellspacing=0
	style='border-collapse:collapse;table-layout:fixed;'>
<tr>
<td class=x_head1>字段名</td>
<td class=x_head2>逻辑名</td>
<td class=x_head2>数据类型</td>
<td class=x_head2>约束</td>
<td class=x_head3>说明</td>
</tr>
<%
    for J:=0 to tb.MetaFields.Count-1 do
    begin
      F:=tb.MetaFields.Items[J];
%>
<tr>
<td class=x_item1>${F.Name}</td>
<td class=x_item2>${F.DisplayName}</td>
<td class=x_item2>${F.GetFieldTypeDesc(bPhyMode,db)}</td>
<td class=x_item2>${F.GetConstraintStr}</td>
<td class=x_item3>${EscapeXml(F.Memo)}</td>
</tr>

<%
    end;
%>
</table>

<%
  end;
%>
</body>
</html>
<%end.%>